.InstagramSection-main {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding-bottom: 30px;
}

@media(max-width:768px){
    .InstagramSection-main{
        display: none;
    }
}