.MobileSignUpNow-main {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    width: 90%;
    margin: 0px auto;
    align-items: center;
    padding-bottom: 20px;
}
.MobileSignUpNow-p-div {
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.MobileSignUpNow-main input {
    width: 99.5%;
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
    border: solid 1px #d69a57;
    font-size: 16px;
}
.MobileSignUpNow-main button {
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #d69a57;
    border: solid 1px #d69a57;
    height: 40px;
    padding: 8px 40px;
}

@media(min-width:769px){
    .MobileSignUpNow-main{
        display: none;
    }
}