.IndividualProduct-main {
    width: 23.75%;
    display: flex;
    flex-direction: column;
}
.IndividualProduct-main > img {
    width: 100%;
    height: auto;
}
.IndividualProduct-title {
    font-size: 20px;
    padding-top: 20px;
}
.IndividualProduct-main a {
    font-family: Times !important;
    padding-top: 20px;
}