.MainImage-main{
    /* height: 91vh; */
    width: 95%;
    margin: 0px auto;
    /* background-image: url('../Assets/watches.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}
.MainImage-main > img {
    width: 100%;
    height: auto;
}

@media(max-width:768px){

    .MainImage-main{
        width: 100%;
    }
}