.SectionBreak-main {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.SectionBreak-lineOne{
    font-family: 'Times' !important;
    font-size: 18pt;
    font-style: italic;
    line-height: 1em;
    padding-bottom: .5em;
}
.SectionBreak-lineTwo {
    font-size: 22pt;
}
@media(max-width:768px){
    .SectionBreak-lineOne {
        font-size: 14pt;
    }
    .SectionBreak-lineTwo {
        font-size: 18pt;
    }
}