.SectionBreak-main {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SectionBreak-lineOne{
    font-family: 'Times' !important;
    font-size: 18pt;
    font-style: italic;
    line-height: 2em;
}
.SectionBreak-lineTwo {
    font-size: 22pt;
}