.MainCarousel-main {
    /* background-color: pink; */
    background-image: url('../Assets/main-text.jpg');
    background-size: cover;
    height: 92vh;
    width: 95%;
    margin: 0px auto;
    margin-top: 30px;
}