.ChatBubble-main {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #d79c5c;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}