.MobileMenu-main {
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    height: calc(100vh - 86px);
    position: absolute;
    z-index: 11;
    top: 88px;
    text-align: left;
}
.MobileMenu-main p {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 16px;
    font-style: normal !important;
    font-family: 'Raleway', sans-serif;
    color: #d69b5c;
    font-weight: 700;
}
.MobileMenu-main ul {
    overflow: hidden;
    transition: height .2s;
}
.MobileMenu-main li {
    color: #d69b5c;
    font-style: italic;
    margin-left: 40px;
    line-height: 1.5;
}