.BottomNavSegment-main li {
    color: #d69b57;
    font-size: 16px;
}
.BottomNavSegment-main {
    overflow: hidden;
    border-bottom: 1px solid #d69b57;
    padding: 10px;
    transition: .2s;
}
.BottomNavSegment-title {
    padding-bottom: 10px;
    float: left;
    padding-left: 30px;
}
.BottomNavSegment-main ul {
    padding-top: 30px;
    text-align: initial;
    padding-left: 30px;
    line-height: 1.4;
}