.Categories-main {
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
}
.Categories-row1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Categories-row1-left{
    height: 100%;
    width: 48.75%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-main img {
    width: 100%;
    height: auto;
}
.Categories-row1-right{
    height: 100%;
    width: 48.75%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-row2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 25px;
}
.Categories-row2-left{
    height: 100%;
    width: 48.75%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-row2-right{
    height: 100%;
    width: 48.75%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-main button {
    font-size: 24px;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    z-index: 2;
    position: absolute;
    bottom: 23%;
    left: 50%;
}