.Categories-main {
    height: 133vh;
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
}
.Categories-row1 {
    height: 48.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Categories-row1-left{
    background-image: url('../Assets/new-arrivals.jpg');
    height: 100%;
    width: 49%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-row1-right{
    background-image: url('../Assets/dresses.jpg');
    height: 100%;
    width: 49%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-row2 {
    height: 48.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Categories-row2-left{
    background-image: url('../Assets/tops.jpg');
    height: 100%;
    width: 49%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-row2-right{
    background-image: url('../Assets/shoes.jpg');
    height: 100%;
    width: 49%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.Categories-main button {
    font-size: 24px;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    position: relative;
    top: 68%;
}