a{
    color: #d69b5c;
    text-decoration: none;
    font-style: italic;
}
a:hover{
    color: #e4be97;
}
.MainNav-main {
    border-bottom: 1px solid #d69b5c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    position: relative;
}
.MainNav-row1 {
    display: flex;
    justify-content: flex-end;
    width: 92%;
    margin: 0px auto;
    font-size: 14px;
    font-style: italic;
    font-family: 'Times' !important;
}
.MainNav-row1 > p {
    padding-left: 20px;
}
.MainNav-row1 span {
    padding: 0px 10px;
}
.MainNav-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 300;
    position: relative;
    top: -15px;
    margin-top: 30px;
    margin-bottom: 15px;
}
#shopping-cart-icon {
    margin-left: 5px;
}
.MainNav-row3 ul {
    display: flex;
    list-style-type: none;
    width: 95%;
    margin: 0px auto;
}
.MainNav-row3 li {
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    cursor: pointer;
}
.MainNav-row3 li:nth-child(1){
    margin-left: 0px
}
.MainNav-hidden {
    display: none;
}

@media(max-width:768px){

    .MainNav-main{
        display: none;
    }
}