a{
    color: #d69b5c;
    text-decoration: none;
    font-style: italic;
}
.MainNav-main {
    height: 20vh;
    border-bottom: 1px solid #d69b5c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}
.MainNav-row1 {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin: 0px auto;
    font-size: 13px;
    font-style: italic;
}
.MainNav-row1 > p {
    padding-left: 20px;
}
.MainNav-row1 span {
    padding: 0px 10px;
}
.MainNav-row2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 60px;
    font-weight: 300;
    position: relative;
    top: -15px;
}
#shopping-cart-icon {
    margin-left: 5px;
}
.MainNav-row3 ul {
    display: flex;
    list-style-type: none;
    width: 95%;
    margin: 0px auto;
}
.MainNav-row3 li {
    font-size: 14px;
    margin-left: 45px;
}
.MainNav-row3 li:nth-child(1){
    margin-left: 0px
}