.SecondaryCategories-main {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 30px;
}
.SecondaryCategories-main > div {
    width: 49%;
    position: relative;
}
.SecondaryCategories-main > div > img {
    width: 100%;
    height: auto;
}
.SecondaryCategories-main > div > button {
    font-size: 24px;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    position: absolute;
    z-index: 2;
    bottom: 23%;
    left: 50%;
}